# Godot-specific
.import/
export.cfg
export_presets.cfg
.mono/
*.import
*.pck
*.stex

# C#-specific
bin/
obj/
*.user
*.userprefs
*.vs/
*.suo
*.tmp
*.sln.docstates

# Include C# project and solution files
!/*.csproj
!/*.sln

# Other common ignores
.DS_Store
Thumbs.db
